@charset "UTF-8";

/*Paleta de cores*/
:root{
    --cor-primaria: #3E4001;
    --cor-secundaria: #BFA004; 
    --cor-fundo: #CEECF2;
    --cor-titulo: #BE733F;
    --cor-texto: #D9843B;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor-fundo);
    height: 100vh;
    width: 100vw;
} 
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--cor-primaria);
    min-height: 420px; 
    min-width: 250px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #0000007e;

    transition: width .2s, height .2s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: var(--cor-primaria) url(../imagens/fundo-login-medio.jpg) no-repeat;
    background-position: left center;
    background-size: cover;
    min-height: 120px;
}
section#login > div#formulario{
    padding: 10px;
    display: block;
}
div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: .8em;
}